@layer group {
	:host([block]),
	:host([block]) pre {
		display: block;
	}

	:host(:not([block])) pre {
		display: inline;
	}

	:host([block]) code {
		padding: 0.5em 1em;
	}

	code {
		display: inline-block;
		backdrop-filter: invert(0.2);
		border-radius: 0.25em;
		padding-inline: 0.5em;
	}

	.hljs-name {
		color: var(--color-accent-color);
	}
}
