@layer ring {
	main {
		display: grid;
		grid-template-columns: 16px auto 16px;
	}

	::slotted(*),
	header {
		grid-column: 2;
	}

	header {
		text-align: center;
	}

	main-nav:not(:defined) {
		display: block;
		height: 95px;
	}
}
