.grid {
  --size: 90vmin;
  --row-gap: calc((100vh - var(--size)) / 4);
  --col-gap: calc((100vw - var(--size)) / 4);
  display: grid;
  grid-template-columns: repeat(var(--repeat-col, 1), var(--size));
  grid-template-rows: repeat(var(--repeat-row, 1), var(--size));
  place-content: start;
  overflow: auto;
  height: 100%;
  width: 100%;
  row-gap: var(--row-gap);
  column-gap: var(--col-gap);
  scroll-behavior: smooth;
  scroll-snap-type: both mandatory;
  padding: calc(var(--row-gap) * 2) calc(var(--col-gap) * 2);
  margin: 0;
  list-style: none;
}

.grid li {
  scroll-snap-align: center;
  display: grid;
  place-content: center;
}